<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="cpulohn" connectionString="Server=;Network Library=DBMSSOCN;Database=cpulohn;User ID=Calendars;Password=" providerName="System.Data.SqlClient" />
    <add name="consens" connectionString="Server=;Network Library=DBMSSOCN;Database=ZcDatenbank;User ID=Calendars;Password=" providerName="System.Data.SqlClient" />
    <add name="vivendi" connectionString="Server=;Network Library=DBMSSOCN;Database=AufBauWerk_VivAmbulant;User ID=Calendars;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="Internet Calendar" path="*.ics" verb="GET" type="System.Web.UI.PageHandlerFactory" resourceType="File" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation>
      <buildProviders>
        <add extension=".ics" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
</configuration>
